html,body {
    margin:0;
    padding:0;
    width: 100vw;
    overflow-x:hidden;
    font-family: 'Merriweather Sans', sans-serif;
    color: white;
    background:antiquewhite

}
.heading{
  text-shadow: 3px 2px 5px black;
  margin-top: 100px;
    text-align: center;
    font-size: 3rem;
}
#about{
  width: 88vw;
font-size: 1.5rem;
padding: 100px;
}
#about p{
      font-size: large;
}
nav{
      font-weight: bolder;

    height: 100px;
    letter-spacing: 2px;
}
.navbar-brand,nav li{
      font-size: 1.4rem;
      padding-right: 20px;
      color: white;
          text-shadow: 1px 2px 10px white;
}

form{
  text-align: center;
}
.input-group-prepend span{
width: 40px;
background-color: chocolate;
color: black;
border:0 !important;
}
input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}
#contact{
  background: url('image2.jpg') no-repeat center;
  background-size:cover;
  background-position: 0 0;}
.card
{

height: 47vh;
margin-top: 30px;
margin-bottom: auto;
width: 48vw;
background-color: rgba(0,0,0,0.3) !important;
}
.login_btn{
color: white;
background-color: chocolate;
width: 110px;
}

.login_btn:hover{
color: black;
background-color: white;
}

.container{
height: 100%;
align-content: center;
padding-top: 100px;
}
.container h1{
margin-top: 10px;
color: black;
text-shadow: 1px 2px 3px black;
text-align: center;

}
.form-group{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
#navbarr {
  overflow: hidden;
}
#navbarr a:hover{
  color: rgba(255,255,255,0.5);

}
/* Navbar links */
#navbarr a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

/* Page content */
.content {
  padding: 16px;
}
/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}
